@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

body {
  overflow: hidden;
  font-family: 'Roboto Mono', monospace;
  background-image: linear-gradient(to right, #000428, #004e92);
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
  gap: 100px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 70%;
  margin: 20px auto;
  padding: 10px;
  background: linear-gradient(to bottom, #6262b9, #03a9f4), linear-gradient(to right, #000428, #004e92);
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px, rgba(10, 37, 64, 0.35) 0 -2px 6px 0 inset;
}

h1 {
  padding: 20px 0 0;
  text-align: center;
  font-weight: 800;
  color: #fff;
}

.scores {
  align-items: self-start;
  gap: 200px;
}

.scores .recent-score {
  align-items: start;
  padding: 20px;
}

.recent-score:first-of-type div {
  gap: 20px;
}

.add-score h3 {
  padding: 20px 0;
}

.recent-score:first-of-type div h3 {
  padding: 20px 0;
}

.btn {
  border: 1px solid;
  background-color: #2196f375;
  border-radius: 12px;
  border-width: 0;
  box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 1em;
  height: 30px;
  padding: 0 15px;
  transition: all 200ms;
}

.btn:hover {
  transform: scale(1.05);
  background-color: #2196f3;
}

.succes-msg {
  background-color: #4caf50;
  border-radius: 50px;
  box-shadow: rgb(25 25 25 / 4%) 0 0 1px 0, rgb(0 0 0 / 10%) 0 3px 4px 0;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 1em;
  height: 30px;
  transition: all 200ms;
  width: 600px;
  display: none;
  padding: 3px 10px;
  margin: 10px auto;
  text-align: center;
}

.score-table {
  width: 100%;
  display: none;
  margin: 20px auto;
  background: #fff;
  background: linear-gradient(to bottom, #6262b9, #1289bb), linear-gradient(to right, #000428, #004e92);
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgb(50 50 93 / 25%) 0 50px 100px -20px, rgb(0 0 0 / 30%) 0 30px 60px -30px, rgb(10 37 64 / 35%) 0 -2px 6px 0 inset;
}

.show {
  display: block;
}

.score-table li {
  padding: 10px;
  box-shadow: rgb(50 50 93 / 25%) 0 50px 100px -20px, rgb(0 0 0 / 30%) 0 30px 60px -30px, rgb(10 37 64 / 35%) 0 -2px 6px 0 inset;
}

.score-table li:nth-child(-n + 3) {
  color: #fff;
}

.score-table li:nth-last-child(-n + 1) {
  border: 0.2px solid red;
  color: #4e3f3ae0;
}

.add-score {
  align-items: start;
  padding: 20px;
}

.add-score .add-new {
  align-items: end;
}

.add-new input {
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: none;
  background: #004e9257;
  border-radius: 12px;
}

.add-new input::placeholder {
  color: #fff;
}

.add-new button {
  margin-right: 10px;
}
